@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom styling */

@layer utilities{

    @keyframes slide-in-left{
        0%{
            transform: translateX(-100%);
            opacity: 0;
        }
        100%{
            transform: translateX(0);
            opacity: 1;
        
        }
    }


    @keyframes slide-in-right{
        0%{
            transform: translateX(100%);
            opacity: 0;
        }
        100%{
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes slide-in-up{
        0%{
            transform: translateY(100%);
            opacity: 0;
        }
        100%{
            transform: translateY(0);
            opacity: 1;
        }
    }

    .slide-in-up {
        animation: slide-in-up 1s ease-out forwards;
    }


    .animate-slide-in-left {
        animation: slide-in-left 1s ease-out forwards;
    }

    .animate-slide-in-right {
        animation: slide-in-right 1s ease-out forwards;
    
    }


    .animation-delay-0 {
        animation-delay: 0s;
    }

    .animation-delay-200 {
        animation-delay: 0.2s;
        }

    .animation-delay-400 {
        animation-delay: 0.4s;
    }


    .theme-transition {
    @apply transition-colors duration-500 ease-in-out;
  }
    
}